<div class="container">
  
  <button class="btn btn-success" type="button" aria-label="Register new user" ui-sref="usernew">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in users">
          <strong>{{user.name}}</strong> (<span class="text-muted">{{user.role}}</span>)<br>
          <span class="text-muted">{{user.email}}</span>
          <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      </li>
    </ul>
  </div>

</div>
